/****************************** Stats Styles *******************************************************/
.container_table_shadow > .modify_game{
	float:right;	
	padding: 0px 12px 15px;	
}
.modify_game + div{
	clear:both;
}
.modify_game .back_button a{
	color:white;
}
.modify_game .back_button a:hover{
	text-decoration:none;
}
.footer_container {
	background-color: black;
	padding:0px 0px !important;
}
.footer_container p{	
	margin-bottom: 0px !important;
	padding: 15px 15px;
	color:white;
}
.logo_img img.lg_image{
	margin:auto;
}
.search_container .login_status{
	margin-top: 2%;
}
.match_statspage table tr th,td{
	text-transform: uppercase;
	font-size: 12px;
} 
.match_statspage table tr td{
	font-size: 12px;
}
.match_statspage table tr th:nth-child(n+2), .match_statspage table tr td:nth-child(n+2), .match_statspage table tr td:nth-child(n+2) input{
	width:35px !important;	
}

.matchstats_membertbl{
	margin-bottom: 1%;
}
.match_statspage .matchstats_buttons{
	text-align: right;
	margin-right: 12px;
	margin-bottom:1%;	
}
.matchstats_buttons input{
	text-transform: capitalize;
}
.game-stats-table tr th{
	text-transform: uppercase;
}
.team-pts-stats tr th, .team-pts-stats tr td input{
	width:35px !important;
}
.game-stats-logo img.lg_image{
	max-height:80px;
}
.team-details{
	width:20%;
	margin-bottom: 5px;
}
.match_statspage .team-details tr th:nth-child(n+2){
	width:100% !important;
	text-align: center;
} 
.popupstyle{
	/*margin: 0px 12px 12px;*/
}
.tot-row > td:nth-child(1){
	font-weight:bold;
}
.match_statspage #match_statsform .mangeteam-form-bottom{
	padding:0;
}

.customredbtn, .customredbtn:hover{
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    padding: 5px 20px;
    width: auto;
    margin-left: 15px;
    background-color: #e12330;
    font-size: 14px;
}
.customgreenbtn, .customgreenbtn:hover{
    color: #ffffff !important;
    background-color: #549E39;
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    padding: 5px 20px;
    width: auto;
    font-size: 14px;
}
.btn {    
	color: #ffffff !important;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px  !important;
    -moz-border-radius: 4px  !important;
    border-radius: 4px !important;    
}
.btn-dark, .btn-dark:active{
	font-size: 13px;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, .15);
}
.btn-dark:hover{
    color: #FFFFFF !important;
}
.visitor-team-add-player , .home-team-add-player{
	text-align: right;
	margin-bottom: 10px;
}
.page-content-wrapper .page-content .alert.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.left-right-padding .info-caption, #match_statsform .left-padding .portlet.light , #match_statsform .right-padding .portlet.light{
    border: 1px solid #ccc;
    border-radius: 5px !important;
}
#match_statsform .form-control, #gamestatsaddplayer .form-control{
    border: 1px solid #c2cad8;
    border-radius: 4px !important;
}
#match_statsform .portlet.light {
	padding-top: 25px;
}
.left-right-padding .info-caption .portlet-title{
	border: 0;
	padding-top: 0 !important;
}
#match_statsform .left-right-padding{
	padding-left: 0;
	padding-right: 0;
}
.error{
	color: red;
}
.modal-footer .gameaction{
	text-align: left;
}
.match_statspage #match_statsform .pagetitle{
	padding-bottom: 0px;
	padding-top: 10px;
}
#match_statsform .pagetitle .portlet-title{
	margin-bottom: 0px;
}
#gamestatsaddplayer .gameformbody{
	width:85%;
	margin:auto;
}
#gamestatsaddplayer .row .bothpaddingremove{
	padding-left: 0;
	padding-right: 0;
}
#addExistsPlayerModal .addplayertable tr th, #addExistsPlayerModal .addplayertable tr td{
	text-align: center;
	vertical-align: middle;

}	
#addExistsPlayerModal .addplayertable tr td{
	padding-top: 0;
	padding-bottom: 0;	
}
#addExistsPlayerModal , #addplayermodal{
	overflow-y: hidden !important;
}
#addExistsPlayerModal .assign-player-modal-body{
	max-height:460px;
	overflow-x:auto;
	padding: 3% 6%;
	padding-bottom: 0;
}
#addplayermodal .gameformbody{
	width: 100%;
	max-height:460px;
	overflow-x:auto;
	padding: 2% 6%;
	padding-bottom: 0;
}
.playerexist .alert-danger{
	margin-bottom: 10px;
	border: 1px solid #ccc;
    border-radius: 5px !important;
}
.playerexist .alert-success {
	margin-bottom: 10px;
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px !important;
}
.addplayertable tr:nth-child(odd) {
    background-color: #fbfcfd;
}
.checkallstyle{
	margin-bottom:0px;
}
.assign-player-modal-body .selectplayer{
	width:11%;
	padding-right: 0;
}
#match_statsform .addexistsplayer, #match_statsform .addplayer{
	line-height: 1.0;
}
.disabledarea table, .disabledarea button{
	pointer-events: none;
    opacity: 0.4;
    cursor: default !important;
}
#match_statsform table tr th, #match_statsform table tr td{
	text-align: center;
}
.alertmessage{
	padding-right: 0;
	padding-left: 0;
	
    margin-bottom: 10px;
}
.assign-player-modal-body .alertmessage .message{
	border: 1px solid #ccc;
    border-radius: 5px !important;
	margin-top: 0;
	margin-bottom: 0;
}
#match_statsform .info-caption.pagetitle{
	margin-bottom: 10px;
}

